<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sicobi {% block title %}{% endblock %}</title>

	<!-- FONTS -->
	<link rel="preconnect" href="https://rsms.me/">
	<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

	<!-- TAILWIND -->
	<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
	<script src="https://cdn.tailwindcss.com"></script>

	
	<style type="text/tailwindcss">
		:root {
			font-family: Inter, sans-serif;
			font-feature-settings: 'liga' 1, 'calt' 1;
		}
		
		@supports (font-variation-settings: normal) {
			:root {
				font-family: InterVariable, sans-serif;
			}
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	</style>
</head>
<body>
	<main>
        {% include "partials/navbar.html" %}
		{% block content %}
		{% endblock %}
	</main>
</body>
</html>
